@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url("https://rsms.me/inter/inter.css");
body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans' !important;
	box-sizing: border-box;
	background: #dee2e6;
	/*overflow-x: overlay;*/
	/*overflow-y: overlay;*/
	overflow: auto;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: 'Noto Sans' !important;
}

.clickable {
	cursor: pointer;
}
input:disabled {
	background: #d5d6d7;
}
.__react_component_tooltip {
	padding: 5px !important;
}
